@tailwind base;
@tailwind components;
@tailwind utilities;

.font {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
input::placeholder {
  color: #fff;
}
.mg-auto {
  margin: auto 0;
}
